# Local
.DS_Store
*.local
*.log*

# Database
*.db
*.sqlite
apps/server/data/

# Env & secrets
.env
.env.*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Test files
test-*.js
test-*.ts
fix-db.js
apps/server/test-*.js
apps/server/test-*.ts
apps/server/test_*.db
apps/server/test_*.js
